# ML Project 1
## Comparing various machine learning techniques using the real estate data set.

In [1]:
import pandas as pd # type: ignore
data = pd.read_csv("C:\\Users\\AdityaTheEmp\\Desktop\\Projects\\Machine learning projects\\Comparing various machine learning models\\Real_Estate.csv")
#display the first few rows:
data_head = data.head()
print(data_head)

             Transaction date  House age  Distance to the nearest MRT station  \
0  2012-09-02 16:42:30.519336       13.3                            4082.0150
1  2012-09-04 22:52:29.919544       35.5                             274.0144
2  2012-09-05 01:10:52.349449        1.1                            1978.6710
3  2012-09-05 13:26:01.189083       22.2                            1055.0670
4  2012-09-06 08:29:47.910523        8.5                             967.4000

   Number of convenience stores   Latitude   Longitude  \
0                             8  25.007059  121.561694
1                             2  25.012148  121.546990
2                            10  25.003850  121.528336
3                             5  24.962887  121.482178
4                             6  25.011037  121.479946

   House price of unit area
0                  6.488673
1                 24.970725
2                 26.694267
3                 38.091638
4                 21.654710

In [2]:
#we shall now print the data info:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Transaction date                     414 non-null    object
 1   House age                            414 non-null    float64
 2   Distance to the nearest MRT station  414 non-null    float64
 3   Number of convenience stores         414 non-null    int64
 4   Latitude                             414 non-null    float64
 5   Longitude                            414 non-null    float64
 6   House price of unit area             414 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 22.8+ KB
None

In [3]:
from sklearn.model_selection import train_test_split  # type: ignore
from sklearn.preprocessing import StandardScaler  # type: ignore
import datetime

In [4]:
#converting the transaction column to datetime format:
data['Transaction date'] = pd.to_datetime(data['Transaction date'])
#dt.year extracts the year from the column entries, basically.
data['Transaction year']= data['Transaction date'].dt.year
#dt.month is the same but with months
data['Transaction month'] = data['Transaction date'].dt.month

In [5]:
#since we have extracted the relevant information into new columns, we shall drop the transaction date column:
data = data.drop(columns = ["Transaction date"])

In [6]:
#testing to see if the changes that I make over here are reflected in my github account